*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    text-align: center;
}

.answer{
    background-color: aquamarine;
    font-size: 20px;
}

.example{
    margin-top: 25px;
    padding: 15px;
    font-size: 20px;
    background-color: bisque;
}

/* 
@media only screen and (min-width: 768px) {
    .heading{
        display: block;
    }
    .answer{
        display: block;
    }
} */